
<%- include('include/_header') %>

  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All Customers</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Customer</h2>
            <span class="text-light">Use the below form to Update customer details</span>
        </div>

      
 <form method="POST" id="update_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="name" value="<%= user.name %>" placeholder="Inchara Gujjar">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" name="email" value="<%= user.email%>" placeholder="example@gmail.com">
        </div>

        <div class="form-group">
            <label for="name" class="text-light">Phonenumber</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="phonenumber" value="<%= user.phonenumber %>" placeholder="+91">
        </div>
        
        <div class="form-group">
            <label for="name" class="text-light">Numberofpeople</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="numberofpeople" value="<%= user.numberofpeople %>" placeholder="Enter number of people">
        </div>

        <div class="form-group">
            <label for="name" class="text-light">Time</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="time" value="<%= user.time %>" placeholder="8:00pm">
        </div>
        

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>
       
    </div>
</main>

<%- include('include/_footer') %>
